In [5]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

import seaborn as sns

In [6]:
df = pd.read_csv('master.csv')

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27820 entries, 0 to 27819
Data columns (total 12 columns):
country               27820 non-null object
year                  27820 non-null int64
sex                   27820 non-null object
age                   27820 non-null object
suicides_no           27820 non-null int64
population            27820 non-null int64
suicides/100k pop     27820 non-null float64
country-year          27820 non-null object
HDI for year          8364 non-null float64
 gdp_for_year ($)     27820 non-null object
gdp_per_capita ($)    27820 non-null int64
generation            27820 non-null object
dtypes: float64(2), int64(4), object(6)
memory usage: 2.5+ MB

In [7]:
df.columns = ['country','year','sex','age-grp','num-suicd','population','suicdper100k','country-year','HDI','GDP','percapGDP','generation']

In [16]:
df.head()

,country,year,sex,age-grp,num-suicd,population,suicdper100k,country-year,HDI,GDP,percapGDP,generation
0,Albania,1987,male,15-24 years,21,312900,6.71,Albania1987,NaN,"2,156,624,900",796,Generation X
1,Albania,1987,male,35-54 years,16,308000,5.19,Albania1987,NaN,"2,156,624,900",796,Silent
2,Albania,1987,female,15-24 years,14,289700,4.83,Albania1987,NaN,"2,156,624,900",796,Generation X
3,Albania,1987,male,75+ years,1,21800,4.59,Albania1987,NaN,"2,156,624,900",796,G.I. Generation
4,Albania,1987,male,25-34 years,9,274300,3.28,Albania1987,NaN,"2,156,624,900",796,Boomers

In [21]:
df[df.HDI > 0].year.unique()

array([1995, 2000, 2005, 2010, 2012, 2013, 2014, 1985, 1990, 2011],
      dtype=int64)

In [22]:
df.describe()

,year,num-suicd,population,suicdper100k,HDI,percapGDP
count,27820.000000,27820.000000,2.782000e+04,27820.000000,8364.000000,27820.000000
mean,2001.258375,242.574407,1.844794e+06,12.816097,0.776601,16866.464414
std,8.469055,902.047917,3.911779e+06,18.961511,0.093367,18887.576472
min,1985.000000,0.000000,2.780000e+02,0.000000,0.483000,251.000000
25%,1995.000000,3.000000,9.749850e+04,0.920000,0.713000,3447.000000
50%,2002.000000,25.000000,4.301500e+05,5.990000,0.779000,9372.000000
75%,2008.000000,131.000000,1.486143e+06,16.620000,0.855000,24874.000000
max,2016.000000,22338.000000,4.380521e+07,224.970000,0.944000,126352.000000

In [8]:
dfHDI = df[['country','year','country-year','HDI','GDP','percapGDP']].copy()
dfHDI = dfHDI.drop_duplicates()
dfHDI['corrHDI'] = dfHDI.HDI
dfHDI['interpHDI'] = dfHDI.HDI

In [40]:
dfHDI.corr()

               year       HDI  percapGDP   corrHDI  interpHDI
year       1.000000  0.366786   0.339188  0.366786   0.366786
HDI        0.366786  1.000000   0.771228  1.000000   1.000000
percapGDP  0.339188  0.771228   1.000000  0.771228   0.771228
corrHDI    0.366786  1.000000   0.771228  1.000000   1.000000
interpHDI  0.366786  1.000000   0.771228  1.000000   1.000000

In [17]:
dfHDI.interpHDI.interpolate(method='linear',limit_direction='forward',inplace=True)

In [48]:
df = pd.merge(df,dfHDI[['country-year','interpHDI']],how="left",on="country-year")

In [49]:
df.describe()

,year,num-suicd,population,suicdper100k,HDI,percapGDP,interpHDI
count,27820.000000,27820.000000,2.782000e+04,27820.000000,8364.000000,27820.000000,27820.000000
mean,2001.258375,242.574407,1.844794e+06,12.816097,0.776601,16866.464414,0.761726
std,8.469055,902.047917,3.911779e+06,18.961511,0.093367,18887.576472,0.088091
min,1985.000000,0.000000,2.780000e+02,0.000000,0.483000,251.000000,0.483000
25%,1995.000000,3.000000,9.749850e+04,0.920000,0.713000,3447.000000,0.699200
50%,2002.000000,25.000000,4.301500e+05,5.990000,0.779000,9372.000000,0.762177
75%,2008.000000,131.000000,1.486143e+06,16.620000,0.855000,24874.000000,0.830000
max,2016.000000,22338.000000,4.380521e+07,224.970000,0.944000,126352.000000,0.944000

In [50]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 27820 entries, 0 to 27819
Data columns (total 13 columns):
country         27820 non-null object
year            27820 non-null int64
sex             27820 non-null object
age-grp         27820 non-null object
num-suicd       27820 non-null int64
population      27820 non-null int64
suicdper100k    27820 non-null float64
country-year    27820 non-null object
HDI             8364 non-null float64
GDP             27820 non-null object
percapGDP       27820 non-null int64
generation      27820 non-null object
interpHDI       27820 non-null float64
dtypes: float64(3), int64(4), object(6)
memory usage: 3.0+ MB

In [55]:
df.HDI.isnull().sum()

19456