In [1]:
import numpy as np
import pandas as pd
import os

l1 = np.random.randn(15)
# print(l1,"\n")

l2 = np.random.randn(15)
# print(l2,"\n")

# sr1 = pd.Series(l1)
# print(sr1,"\n")

lbl1 = ['01','02','03','04','05','06','07','08','09','10','11','12','13','14','15']
sr1 = pd.Series(l1,lbl1)
# print(sr1,"\n")

lbl2 = lbl1.copy()
lbl2.reverse()

sr2 = pd.Series(l2,lbl2)
# print(sr2,"\n")

# All arithmatic operations can be done
# sr3 = sr1+sr2
# print(sr3,"\n")


lbl3 = ['01','03','05','07','08','09','10','11','12','13','14','15']
lbl4 = ['01','02','03','04','05','06','08','09','10','11','13','15']

sr3 = pd.Series((np.random.randn(12)),lbl3)
# print(sr3,"\n")

sr4 = pd.Series((np.random.randn(12)),lbl4)
# print(sr4,"\n")

sr5 = sr3+sr4
sr5.sort_values()
# print(sr5,"\n")

# DataFrame is  a list of lists - a  collection of Series, hence we are able to create DataFrame concatenating two Series
df1 = pd.concat((sr3,sr4),axis=1,sort=True)
# print(df1,"\n")

df2 = pd.concat((sr3,sr4),axis=0,sort=False)
# print(df2,"\n")

# df3 = pd.DataFrame(np.random.rand(5,7))
# print(df3,"\n")
lblc = ['01c','02c','03c','04c','05c','06c','07c','08c','09c','10c','11c','12c','13c','14c','15c']
lblr = ['01r','02r','03r','04r','05r','06r','07r','08r','09r','10r','11r','12r','13r','14r','15r']


df3 = pd.DataFrame(np.random.randn(5,7),index=lblr[0:5],columns=lblc[0:7])
# print(df3,"\n")

# print(df3>0,"\n")

# print(df3[df3>0],"\n")

# getting a single column
# print(df3['03c'],"\n")

# Use a comma to get both columns but use 2 square braces
# print(df3[['03c','06c']],"\n")

# This is new - haven't been covered in lessons - way to retrieve a row as a dataframe
# print(df3['03r':'05r'],"\n")

# This returns a series with values from row mentioned
# print(df3.loc['03r'],"\n")

# This returns a series with values from native index (like an array number but not the user-created index) mentioned
# 0 represents the first row, 1 the second and so on...
# print(df3.iloc[0],"\n")

# Getting a subset using specific index and column names
# print(df3.loc[['03r','04r','05r'],['04c','05c']])

# Creating a new column/series - if it doesn't exist, it creates
df3['08c']=np.random.randn(5,1)
# print(df3,"\n")

# else updates the column
df3['02c']=np.random.randn(5,1)
# print(df3,"\n")

# Drops  the column but returns that dropped dataframe and should be assigned if it has to be persisted
df3 = df3.drop('08c',axis=1)
# print(df3,"\n")

# df3 = df3.drop('05r',axis=0)
# print(df3,"\n")

# Inserts a new column(series) named index with the current set of index and resets to numeric index starting 0 (Default)
# df3 = df3.reset_index()
# print(df3,"\n")

# Inplace allows for not having to assign it to another variable but does it inline
df3.reset_index(inplace=True)
# print(df3,"\n")

df3.set_index('index',inplace=True)
# print(df3,"\n")

In [ ]:
lblc = ['01c','02c','03c','04c','05c','06c','07c','08c','09c','10c','11c','12c','13c','14c','15c']
lblr = ['01r','02r','03r','04r','05r','06r','07r','08r','09r','10r','11r','12r','13r','14r','15r']

# print(lblc[2:16:3],"\n")
# print(lblc[1:16:2],"\n")

df4 = pd.DataFrame(np.random.randn(5,5),index=lblr[0:5],columns=lblc[2:16:3])
df5 = pd.DataFrame(np.random.randn(5,7),index=lblr[0:5],columns=lblc[1:16:2])

print(df4,"\n")
print(df5,"\n")

df6 = pd.concat([df4, df5], axis=1, sort=False)
print(df6,"\n")

In [95]:
# print(os.getcwd(),"\n")

csvDF1 = pd.read_csv("C:\\Learning\\AIML\\Stats\\CardioGood1.csv")
csvDF2 = pd.read_csv("C:\\Learning\\AIML\\Stats\\CardioGood2.csv")
# print(csvDF1[0:10],"\n")
# print(csvDF2[5:16],"\n")

# axis=1 refers to adding columns, axis=0 refers to adding rows
# csvDF = pd.concat([csvDF1[0:10],csvDF2[5:16]],axis=1, sort=False)
# print(csvDF,"\n")

# how can take 'outer', 'inner', 'left' and 'right' (same as join in SQL), on is referring to the column to join
csvDF = pd.merge(csvDF1[0:10],csvDF2[5:16],on="Customer", how="outer")
print(csvDF,"\n")

# Need to figure out how join works (with merging rows). The following statement fails
# csvDF = csvDF1.join(csvDF2,on=['Customer'], how="outer")

      Customer Product  Usage  Fitness  Miles   Age  Gender  Education  \
0    Customer1   TM195    3.0      4.0  112.0   NaN     NaN        NaN
1    Customer2   TM195    2.0      3.0   75.0   NaN     NaN        NaN
2    Customer3   TM195    4.0      3.0   66.0   NaN     NaN        NaN
3    Customer4   TM195    3.0      3.0   85.0   NaN     NaN        NaN
4    Customer5   TM195    4.0      2.0   47.0   NaN     NaN        NaN
5    Customer6   TM195    3.0      3.0   66.0  20.0  Female       14.0
6    Customer7   TM195    3.0      3.0   75.0  21.0  Female       14.0
7    Customer8   TM195    3.0      3.0   85.0  21.0    Male       13.0
8    Customer9   TM195    5.0      4.0  141.0  21.0    Male       15.0
9   Customer10   TM195    2.0      3.0   85.0  21.0  Female       15.0
10  Customer11     NaN    NaN      NaN    NaN  22.0    Male       14.0
11  Customer12     NaN    NaN      NaN    NaN  22.0  Female       14.0
12  Customer13     NaN    NaN      NaN    NaN  22.0  Female       16.0
13  Customer14     NaN    NaN      NaN    NaN  22.0  Female       14.0
14  Customer15     NaN    NaN      NaN    NaN  23.0    Male       16.0
15  Customer16     NaN    NaN      NaN    NaN  23.0    Male       16.0

   MaritalStatus   Income
0            NaN      NaN
1            NaN      NaN
2            NaN      NaN
3            NaN      NaN
4            NaN      NaN
5      Partnered  32973.0
6      Partnered  35247.0
7         Single  32973.0
8         Single  35247.0
9      Partnered  37521.0
10        Single  36384.0
11     Partnered  35247.0
12        Single  36384.0
13        Single  35247.0
14     Partnered  38658.0
15     Partnered  40932.0

In [109]:

# Applying filters on the DataFrame
# print(csvDF2[(csvDF2['Gender'] == 'Male') & (csvDF2['Age'] <= 30)] )

# Invoking built-in functions
# csvDF2['Age'].unique()

csvDF2['Age'].value_counts()

# csvDF2['Age'].mean()
# csvDF2['Age'].median()
# csvDF2['Age'].mode()
# csvDF2.mean()
# csvDF2.median()
# csvDF2.mode()
csvDF2.columns
# csvDF2['Age'].sum()
# csvDF2['Age'].std()

# Invoking custom functions
def item_inv(i):
    return 1/i

def col_sum(col):
    return sum(col)

tmp = csvDF2[['Age','Gender','Income']]

# apply works on both series and individual items
# print(csvDF2['Age'].apply(item_inv),"\n") # - this works
# tmp.apply(item_inv) # - This works
# tmp.apply(col_sum) # - This works
# csvDF2['Age'].apply(col_sum) # - This doesn't work since sum cannot be applied on items in series 

# applymap works on the entire dataframe but function is applied on each item 
# tmp.applymap(item_inv) # - This works since inverse can be applied on each item
# tmp.applymap(col_sum) #- This doesn't work since sum cannot be applied on each item

# csvDF2.sort_values(by='Income')
# csvDF2.sort_values(by=['Income','Education'])

tmp = csvDF2.groupby('Gender')
# tmp = csvDF2.groupby(['Gender','Education'])
# tmp.describe() #-after groupby, we need to do something with the dataframe to see the results
tmp.max()

          Customer  Age  Education MaritalStatus  Income
Gender
Female  Customer99   50         21        Single   95866
Male    Customer96   48         21        Single  104581

In [98]:
csvDF = pd.merge(csvDF1[0:50],csvDF2[0:50],on="Customer", how="inner")
# print(csvDF,"\n")

# csvDF.to_csv('DF.csv', index=False)
# tmp = pd.read_csv('DF.csv')
# tmp

# csvDF.to_excel('DF.xlsx', index=False,sheet_name='DF_Sheet')
tmp = pd.read_excel('DF.xlsx', sheet_name='DF_Sheet')
tmp

tmp['Age'].value_counts()

23    8
26    7
25    7
28    6
24    5
22    4
21    4
27    3
19    3
20    2
18    1
Name: Age, dtype: int64